<% content_for :title, "Admin"  %>
<% content_for :description, "This is the meta description" %>
<% content_for :css do %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <%= stylesheet_link_tag "admin", "style"  %>
<% end %>
<body class="nav-md">
  <div class="container body admin-body">
    <div class="main_container admin-body">
      <%= render "shared/admin_menu" %>
      <% content_for :js do %>
        <%= javascript_include_tag "Chart.min", "jquery_ujs", "custom", "script" %>
      <% end %>
    </body>
