/*---- 
@extend .message; - copies css from .message element
@include transition(3s); - include transition from mixin
&:hover - nested action on hover of the element 
@import 'reset'; - includes the reset.scss in current sheet
%bg-image{CODE}; - includes an element that can be extended from, but will not be included in final css 
background-color:lighten($color,10%); - Lightens color (good for hovers!)
-----*/
/* Mixin Functions */
/*---------------------*/
/* STRUCTURE & GENERAL */
/*---------------------*/
/*Clearfix*/
/* line 56, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}

/* line 60, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.cf:after {
  clear: both;
}

/* line 63, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.col-centered {
  float: none;
  margin: 0 auto;
}

/* line 67, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.col-hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* line 71, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .col-hidden-md-down {
    display: none !important;
  }
}
/* line 75, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
a {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/* line 78, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.margin-top {
  margin-top: 25px;
}

/* line 81, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.locale {
  opacity: 0.8;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  height: 25px;
  width: 25px;
  background-image: url(locale.png);
  background-size: cover;
}

/* line 88, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.locale-top {
  top: 15px;
  right: 15px;
  position: absolute;
  z-index: 9000;
}

/* line 93, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.locale-menu {
  position: relative;
  top: -5px;
}

/* line 96, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.locale:hover {
  opacity: 1;
}

@media only screen and (max-width: 992px) {
  /* line 101, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .locale-menu {
    position: static;
  }
}
@media only screen and (max-width: 750px) {
  /* line 105, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  #wrapper > div > div:nth-child(5) .col_one_third .feature-box {
    padding: 0 !important;
  }

  /* line 107, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  #wrapper > div:nth-child(8) .col_one_fourth {
    margin: 0 auto;
    width: inherit;
  }

  /* line 110, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  #wrapper > div:nth-child(8) .col_one_fourth.col_last {
    margin: 0 auto !important;
  }

  /* line 112, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  #wrapper > div:nth-child(8) .col_one_fourth .feature-box {
    padding: 0 !important;
  }
}
/*---------------------*/
/*    HEADER & NAV     */
/*---------------------*/
/* line 117, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.sticky-header .sf-js-enabled a {
  padding-top: 15px !important;
  padding-bottom: 0 !important;
}

/*---------------------*/
/* 		CONTENT  	   */
/*---------------------*/
/*/ ------------------------------ ADMIN PAGE------------------------------------/*/
/* line 126, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
body > div > div > div.right_col {
  padding-bottom: 25px !important;
  min-height: 100vh !important;
}

/* line 130, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.tile_count, .x_panel {
  margin-bottom: 0;
}

@media only screen and (max-width: 765px) {
  /* line 135, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .admin-body, .main_container {
    width: 100% !important;
    margin: 0 !important;
  }
}
/* line 139, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.table.table-hover.table-striped a:hover {
  text-decoration: underline;
}

/*/ ------------------------------ HOME PAGE------------------------------------/*/
/* line 142, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.contactbutton {
  margin-bottom: 25px;
}

/* line 145, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.service-item-link {
  color: #555;
}

/* line 148, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
h1.main-logo {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
}

/* line 151, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
h5.logo-subtitle {
  letter-spacing: 3.4px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

/* Bobbing */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
/* line 206, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.service-item-link:hover i {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* line 224, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.copyright-links {
  margin-bottom: 30px;
}

/* Home page responsiveness */
/* Medium*/
@media only screen and (max-width: 992px) {
  /* line 232, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  #logo h1 {
    font-size: 60px;
    text-align: center;
  }
}
/* Medium */
@media only screen and (max-width: 768px) {
  /* line 238, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .team .team-image img {
    float: left;
    width: 40%;
    margin-right: 3rem;
  }

  /* line 242, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .team-desc {
    top: -2rem;
  }

  /* line 244, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .container:not(.admin-body) {
    width: 90% !important;
  }

  /* line 246, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  figure p, figure.effect-ruby p {
    padding-left: 3rem;
    text-align: center;
    top: 30%;
    font-size: 2rem !important;
    width: 70%;
    margin: 0 auto;
    transform: translateY(-50%);
    position: absolute;
    opacity: 1 !important;
    transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
  }

  /* line 258, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  figure.effect-ruby p {
    left: 7rem;
    top: 5rem;
    padding: 10px;
  }
}
/* Small */
@media only screen and (max-width: 560px) {
  /* line 265, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .owl-latest-news {
    display: none !important;
  }

  /* line 267, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .article-block {
    display: block;
  }

  /* line 269, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .article-title {
    margin-bottom: 0;
  }

  /* line 271, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  #services > div > div.container.clearfix > div.col-md-6.bottommargin {
    margin-bottom: 0 !important;
  }

  /* line 273, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .team .team-image img {
    float: none;
    width: 50%;
    margin: 0 auto 2rem auto;
  }

  /* line 277, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .team.team-list .team-desc {
    text-align: center;
  }

  /* line 279, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .social-icon {
    display: inline-block;
    float: none;
  }

  /* line 282, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .twitter-feed, .contactbutton, #google-map {
    display: none;
  }

  /* line 284, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  #header > div.container.clearfix {
    height: 12.4rem;
  }
}
/*/ ------------------------------ BLOG SINGLE ------------------------------------/*/
/* Share buttons */
/* line 290, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
#share-buttons img:hover {
  transition: all 0.35s ease-in-out;
  opacity: 1;
}

/* line 293, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
#share-buttons img {
  opacity: 0.7;
  width: 45px;
  border: 0;
  margin-bottom: 0;
  display: inline;
}

/* line 300, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.entry-content-blog-single {
  margin-top: 5px;
}

/* line 302, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.entry-content-blog-single p {
  margin-top: 0;
  font-size: 14px;
}

/* line 306, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
blockquote p {
  margin-bottom: 0;
  font-size: 25px !important;
}

/* line 311, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.subscribe h5 {
  margin-bottom: 15px;
  text-align: center;
}

/* line 316, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.subscribe .btn:not(.index-subscribe) {
  text-transform: none !important;
  padding: 5px 12px !important;
}

/* line 321, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.subscribe.checkbox label {
  display: inline !important;
  text-transform: none;
}

/* line 326, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.subscribe.checkbox .checkbox {
  display: inline-block;
  position: static;
  margin: 0 !important;
}

/* line 332, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.blog-single-subscribe {
  margin-top: 30px !important;
}

/* line 336, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.posted-on .contact-link {
  text-transform: capitalize;
}

@media only screen and (max-width: 560px) {
  /* line 342, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .container.clearfix.blog-single {
    height: 7.7rem !important;
  }

  /* line 345, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  h1.entry-title {
    font-size: 24px;
  }
}
/*/ ------------------------------ PORTFOLIO SINGLE ------------------------------------/*/
/* h2 title */
/* line 349, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.portfolio-single-title {
  padding-top: 35px;
}

/* line 352, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.portfolio-features li span {
  font-weight: 500;
  color: #666;
}

/* line 356, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.portfolio-features li span i {
  color: #333;
}

/* line 359, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.portfolio-features div {
  margin: 0 !important;
}

/* line 363, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.portfolio-features span {
  text-transform: capitalize;
}

/* line 367, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.portfolio-features span.cms {
  text-transform: uppercase;
}

/* line 370, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.main {
  padding-top: 15px;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/* line 374, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.portfolio-single-image img:not(.main) {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  opacity: 0.7;
  max-height: 100% !important;
}

/* line 379, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.portfolio-single-image img:hover {
  opacity: 1;
}

/*/ ------------------------------ SERVICES SINGLE 1 ------------------------------------/*/
/* line 383, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.slider-box {
  height: 70px !important;
}

/* line 386, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.page-selector li {
  cursor: pointer;
  width: 23% !important;
}

/* line 390, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
.selected {
  color: #1982AE !important;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  /* line 397, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .pricing-features .page-selector li {
    margin-bottom: 0 !important;
    width: 50% !important;
  }
}
/*/ ------------------------------ SERVICES SINGLE 4 ------------------------------------/*/
@media only screen and (max-width: 995px) {
  /* line 406, C:/Users/Simon/Desktop/Projects/Programming/Projects/truetech-v3/app/assets/stylesheets/style.scss */
  .col_one_fourth.nobottommargin {
    width: 80%;
    margin-bottom: 30px !important;
  }
}
/*---------------------*/
/* 		FOOTER 		   */
/*---------------------*/
/*# sourceMappingURL=style.css.map */
