<div class="container clearfix">
  <%= link_to(home_path) do %>
    <div id="logo" class="center-block text-center">
     <h1 class="main-logo center-block text-center">Simon Somlai</h1>
     <h2 class="logo-subtitle"><%= t "home.sub"%></h2>
    </div>
  <% end %>
</div>