<li>
    <% if I18n.locale == :nl %>
        <%= link_to locale: "en" do %>
            EN/<b style="color: #1982AE;">NL</b>
        <% end %> 
    <% else  %>
        <%= link_to locale: "nl" do %>
            <b style="color: #1982AE;">EN</b>/NL
        <% end %> 
    <% end %>
</li>