<li>
    <% if I18n.locale == :nl %>
        <%= link_to locale: "en" do %>
            <div class="locale locale-menu <%= I18n.locale %>"></div>
        <% end %> 
    <% else  %>
        <%= link_to locale: "nl" do %>
            <div class="locale locale-menu <%= I18n.locale %>"></div>
        <% end %> 
    <% end %>
</li>