<span> Forum Guidelines;
<ol>
  <li>No spam/advertisements, no link-pasting, excessive swearing or destructive feedback.</li>
  <li>Use new lines to separate long messages</li>
  <li>Don't argue too much with strangers on the internet</li>
  <li>Be nice & have fun</li>
</ol> 
  You can use <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a> for formatting.<br/>
</p>