<h1>Awesome Follow Up Reminder Email!</h1>

<p>
 Hey there you incredibly sexy beast in the future <(^.^)>! Time to do a scheduled follow-up with <%= @title %>! It has been <%= @time %> since you've last contacted them :O.
 Here's some things you could consider;
</p>
<ul>
  <li>Check out the website, update plugins. What is something that could be improved?</li>
  <li>Call!</li>
  <li>Ask for a status update or things they'd like changed/improved?</li>
  <li>B2B: idea that could help advance their business/something educational</li>
  <li>What are some ways they could improve their marketing? What are their competition doing?</li>
  <li>Share something amusing/personal interest (cartoon?)</li>
</ul>
<p>
  Historic greetings!
</p>
<p>
  - Organized Simon from the past.
</p>
