/* Mixin Functions */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  background-clip: padding-box;
}

@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  background-clip: padding-box;
}

@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  background-clip: padding-box;
}

@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  background-clip: padding-box;
}

@mixin transition ($time) {
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

@mixin rotate($degree) {
  -ms-transform: rotate($degree);
  /* IE 9 */
  -webkit-transform: rotate($degree);
  /* Chrome, Safari, Opera */
  transform: rotate($degree);
}

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// This is the incredibly messy stylesheet for truetech.be (meaning all the customization I've made over time live and fester in this shithole.)
// Table of contents;
// - STRUCTURE & GENERAL (headers, footers, multi-purpose classes)
// - ADMIN PAGE
// - HOME PAGE
// - ARTICLE
// -- article show
// - PROJECT
// -- project show
// -- portfolio all
// - SERVICE PAGES
/*---------------------*/
/* STRUCTURE & GENERAL */
/*---------------------*/
/*Clearfix*/
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.col-hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .col-hidden-md-down {
    display: none !important;
  }
}

a {
  @include transition(0.35s);
}

.margin-top {
  margin-top: 25px;
}

.locale {
  opacity: 0.8;
  @include transition(0.35s);
  height: 25px;
  width: 25px;
  background-image: url(asset_path("locale.png"));
  background-size: cover;
}

.locale-top {
  top: 15px;
  right: 15px;
  position: absolute;
  z-index: 9000;
}

.locale-menu {
  position: relative;
  top: -5px;
}

.locale:hover {
  opacity: 1;
}

.en {
  background-position: 0 -100%;
}

.posts-carousel .entry-image img {
  height: 175px;
}

.coding-article {
  display: none;
}

//  General responsiveness
@media only screen and (max-width: 992px) {
  .locale-menu {
    position: static;
  }
}

@media only screen and (max-width: 750px) {

  #wrapper>div>div:nth-child(6) .col_one_third>.feature-box.fbox-plain,
  #wrapper>div>div:nth-child(5) .col_one_third>.feature-box.fbox-plain {
    padding: 0 !important;
  }

  #wrapper>div:nth-child(8) .col_one_fourth {
    margin: 0 auto;
    width: inherit;
  }

  #wrapper>div:nth-child(8) .col_one_fourth.col_last {
    margin: 0 auto !important;
  }

  #wrapper>div:nth-child(8) .col_one_fourth .feature-box {
    padding: 0 !important;
  }

  .subject-home {
    display: none;
  }
}

/*---------------------*/
/*    HEADER & NAV     */
/*---------------------*/
.sticky-header .sf-js-enabled a {
  padding-top: 15px !important;
  padding-bottom: 0 !important;
}

/*---------------------*/
/* 		CONTENT  	   */
/*---------------------*/
/*/ ------------------------------ ADMIN PAGE------------------------------------/*/
body>div>div>div.right_col {
  padding-bottom: 25px !important;
  min-height: 100vh !important;
}

.tile_count,
.x_panel {
  margin-bottom: 0;
}

// responsiveness admin panel
@media only screen and (max-width: 765px) {

  .admin-body,
  .main_container {
    width: 100% !important;
    margin: 0 !important;
  }
}

.table.table-hover.table-striped a:hover {
  text-decoration: underline;
}

/*/ ------------------------------ HOME PAGE------------------------------------/*/
.contactbutton {
  margin-bottom: 25px;
}

.service-item-link {
  color: #555;
}

.service-item-link--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

h1.main-logo {
  white-space: no-wrap;
  margin-bottom: 0;
  svg{
    height: 90px;
    width: 90px;
    color: #444444;
  }
}

h2.logo-subtitle {
  letter-spacing: 3.4px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

/* Bobbing */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.service-item-link:hover i {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.copyright-links {
  margin-bottom: 30px;
}

#copyrights .text-center strong,
.blog-single-subscribe .text-center strong {
  font-size: 18px;
}

/* Home page responsiveness */

/* Medium*/
@media only screen and (max-width: 992px) {
  #logo {
    height: auto;
    h1 {
      font-size: 40px;
      text-align: center;
    }
    
    h2.logo-subtitle{
      margin-bottom: 0;
    }
  }
}

/* Medium */
@media only screen and (max-width: 768px) {
  .team .team-image img {
    float: left;
    width: 40%;
    margin-right: 3rem;
  }

  .team-desc {
    top: -2rem;
  }

  .container:not(.admin-body) {
    width: 95% !important;
  }

  #wrapper>div>div:nth-child(5) {
    width: 100% !important;
  }
}

/* Small */
@media only screen and (max-width: 560px) {
  .owl-latest-news, .portfolio-carousel {
    .owl-nav .owl-next{
      right: -18px;
      opacity: 1;
    }
  }

  .article-block {
    display: block;
  }

  .article-title {
    margin-bottom: 0;
  }

  #services>div>div.container.clearfix>div.col-md-6.bottommargin {
    margin-bottom: 0 !important;
  }

  .team .team-image img {
    float: none;
    width: 50%;
    margin: 0 auto 2rem auto;
  }

  .team.team-list .team-desc {
    text-align: center;
  }

  .social-icon {
    display: inline-block;
    float: none;
  }

  .twitter-feed,
  .contactbutton,
  #google-map {
    display: none;
  }

  #header>div.container.clearfix {
    height: auto;
  }

  .services-heading {
    margin: 0 auto 30px auto;
  }

  .services-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
}

/*/ ------------------------------ ARTICLE ------------------------------------/*/
// ARTICLE SHOW
/* Share buttons */
#share-buttons img:hover {
  transition: all 0.35s ease-in-out;
  opacity: 1;
}

#share-buttons img {
  opacity: 0.7;
  width: 45px;
  border: 0;
  margin-bottom: 0;
  display: inline;
}

// Content
.entry-content-blog-single {
  font-size: 1.05rem !important;
  margin-top: 5px;
}

.entry-content-blog-single h1 {
  font-size: 2rem !important;
}

.entry-content-blog-single h2 {
  font-size: 1.5rem !important;
}

.entry-content-blog-single h3 {
  font-size: 1.2rem !important;
}

blockquote p {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.15rem !important;
}

.subscribe h5 {
  margin-bottom: 15px;
  text-align: center;
}

.subscribe .btn:not(.index-subscribe) {
  text-transform: none !important;
  padding: 5px 12px !important;
}

.subscribe.checkbox label {
  display: inline !important;
  text-transform: none;
}

.subscribe.checkbox .checkbox {
  display: inline-block;
  position: static;
  margin: 0 !important;
}

.blog-single-subscribe {
  margin-top: 30px !important;
}

.posted-on .contact-link {
  text-transform: capitalize;
}

article img {
  border: 1px solid #d8d8d8;
}

img.side {
  max-width: 55%;
  margin: 25px;
}

.article-show-related .entry-content-blog-single>p {
  font-size: 14px;
}

.unicorn {
  width: 130px;
  position: fixed;
  bottom: -5px;
  left: -10%;
}

.unicorn.active {
  z-index: 500;
  animation: example 27s;
  animation-iteration-count: 1;
}

/* The animation code */
$low: -3deg;
$high: 3deg;
$low2: -363deg;
$high2: -357deg;
$low3: -7deg;
$high3: 7deg;

@keyframes example {
  1% {
    @include rotate($low);
    left: -10%;
  }

  2% {
    @include rotate($high);
  }

  3% {
    @include rotate($low);
  }

  4% {
    @include rotate($high);
  }

  5% {
    @include rotate($low);
  }

  6% {
    @include rotate($high);
  }

  7% {
    @include rotate($low);
  }

  8% {
    @include rotate($high);
  }

  9% {
    @include rotate($low);
  }

  10% {
    @include rotate($high);
  }

  11% {
    @include rotate($low);
  }

  12% {
    @include rotate($high);
  }

  13% {
    @include rotate($low);
  }

  14% {
    @include rotate($high);
  }

  15% {
    @include rotate(-360deg);
  }

  16% {
    @include rotate($low2);
  }

  17% {
    @include rotate($high2);
  }

  19% {
    @include rotate($low2);
  }

  20% {
    @include rotate($high2);
  }

  21% {
    @include rotate($low2);
  }

  22% {
    @include rotate($high2);
  }

  23% {
    @include rotate($low2);
  }

  24% {
    @include rotate($high2);
  }

  25% {
    @include rotate($low2);
  }

  26% {
    @include rotate($high2);
  }

  27% {
    @include rotate($low2);
  }

  28% {
    @include rotate($high2);
  }

  29% {
    @include rotate($low2);
  }

  30% {
    @include rotate($high2);
    bottom: -5px;
  }

  31% {
    bottom: 60px;
    @include rotate($low);
  }

  32% {
    @include rotate($high);
  }

  34% {
    @include rotate($low);
  }

  36% {
    bottom: 90px;
    @include rotate($low);
  }

  38% {
    @include rotate($low);
  }

  40% {
    @include rotate($high);
  }

  42% {
    @include rotate($low);
  }

  44% {
    @include rotate($high);
  }

  46% {
    @include rotate($low);
  }

  48% {
    @include rotate($high);
  }

  50% {
    @include rotate($low);
  }

  52% {
    @include rotate($high);
  }

  52% {
    bottom: 105px;
    @include rotate($high);
  }

  53% {
    @include rotate($low);
  }

  54% {
    @include rotate($high);
  }

  55% {
    @include rotate($low);
  }

  56% {
    @include rotate($high);
    bottom: -5px;
  }

  57% {
    @include rotate($low);
  }

  58% {
    @include rotate($high);
  }

  59% {
    @include rotate($low3);
  }

  60% {
    @include rotate($high3);
  }

  61% {
    @include rotate($low3);
  }

  62% {
    @include rotate($high3);
  }

  63% {
    @include rotate($low3);
  }

  64% {
    @include rotate($high3);
  }

  65% {
    @include rotate($low3);
  }

  66% {
    @include rotate($low3);
    margin-left: 96%;
    opacity: 1;
    bottom: -5px;
  }

  70% {
    margin-left: 125%;
    opacity: 0;
  }

  99% {
    bottom: -100%;
  }
}

@media only screen and (max-width: 992px) {
  h1.main-logo {
     svg{
       height: 30px;
       width: 30px;
     }
   }
}

//  Blog single resonsiveness
@media only screen and (max-width: 560px) {
  .container.clearfix.blog-single {
    height: 7.7rem !important;
  }

  #content,
  #blog-article.blog-single-content {
    width: 100% !important;
  }

  #content article .entry-content-blog-single{
    a{
      font-family: "Lora", "Times new roman", serif;
    }
    p, ul, ol, li, table{
      font-family: "Lora", "Times new roman", serif;
      font-size: 1.05rem;
      margin-bottom: 15px;
    }
}

  h1.entry-title {
    font-size: 24px;
  }

  img.side {
    margin: 20px 0px;
    max-width: 80%;
    float: none !important;
    display: block;
    margin: 0 auto;
  }
}

// All articles
.all-articles {
  .portfolio-item {
    .portfolio-image {
      img {
        min-height: 184px;
      }
    }
  }
}

/*/ ------------------------------ PROJECTS ------------------------------------/*/
// PROJECT SHOW
/* h2 title */
.portfolio-single-title {
  padding-top: 35px;
}

.portfolio-features li span {
  font-weight: 500;
  color: #666;
}

.portfolio-features li span i {
  color: #333;
}

.portfolio-features div {
  margin: 0 !important;
}

.portfolio-features span {
  text-transform: capitalize;
}

.portfolio-features span.cms {
  text-transform: uppercase;
}

.main {
  padding-top: 15px;
  @include transition(0.35s);
}

.portfolio-single-image img:not(.main) {
  @include transition(0.35s);
  opacity: 0.7;
  max-height: 100% !important;
}

.portfolio-single-image img:hover {
  opacity: 1;
}

/*/ ------------------------------ SERVICES SINGLE 1 ------------------------------------/*/
.slider-box {
  height: 70px !important;
}

.page-selector li {
  cursor: pointer;
  width: 23% !important;
}

.selected {
  color: #1982AE !important;
  font-weight: bold;
}

.learn-more {
  width: 250px;
}

// Services single 1 resonsiveness
@media only screen and (max-width: 767px) {
  .pricing-features .page-selector li {
    margin-bottom: 0 !important;
    width: 100% !important;
  }
}

/*/ ------------------------------ SERVICES SINGLE 4 ------------------------------------/*/
// Services single 4 resonsiveness
@media only screen and (max-width: 995px) {
  .col_one_fourth.nobottommargin {
    width: 80%;
    margin-bottom: 30px !important;
  }
}

/*/ ------------------------------ WEBSITE ANALYSE ------------------------------------/*/
.heading-block.website-analyse:after {
  content: none;
  border: none;
}

.website-analyse#template-contactform {
  background-color: rgba(25, 130, 174, 0.5);
  padding: 50px 50px 25px;
  border-radius: 7px;
  float: none;
  margin: 0 auto;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.website-analyse#contact-form-overlay-mini {
  float: none;
  margin: 0 auto;
  width: 75%;
}

#template-contactform-submit.site-analyse {
  display: block;
  width: 80%;
  margin: 0 auto !important;
  background-color: #b73333;
}

#template-contactform-submit.button.site-analyse:hover {
  background-color: #D03939 !important;
}

#template-contactform label {
  font-size: 15px;
}

.website-analyse-get h3 {
  font-size: 19px;
}

@media only screen and (max-width: 560px) {
  .website-analyse#template-contactform {
    padding: 20px 25px;
  }
}